{
    local_certs
}

welfarems.internal.nacoc.gov.gh {
    reverse_proxy web:3000
}

api.welfarems.internal.nacoc.gov.gh {
    reverse_proxy api:4000
}

minio.welfarems.internal.nacoc.gov.gh {
    reverse_proxy minio:9001
}
